@import "~scss/_variables.scss";

.eo-popup {
  .eo-row {
    margin-bottom: 0.5em;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .eo-title {
    text-align: center;
    padding-bottom: 10px;
  }

  .eo-name {
    font-size: 1.6em;
    font-weight: bold;
    color: $color-ui-blue;
  }

  .eo-meta {
    font-size: 0.9em;
    line-height: 1.4;
  }

  .eo-details {
    line-height: 1.8;
  }

  .content-text {
    float: left;
    width: 150px;
  }

  .content-image {
    float: right;
    width: 250px;
  }

  .eo-image {
    width: 220px;
    padding-left: 10px;
  }
}
