@import "~scss/_variables.scss";

.facility-popup {
  .facility-meta {
    font-size: 0.9em;
  }

  .imgcrop {
    width: 400px;
    height: 225px;
    object-fit: cover;
  }

  .peak-population {
    font-weight: 800;
  }

  .image-credit {
    font-size: 0.7em;
    padding-bottom: 1em;
  }

  .credit-link {
    color: gray;
  }
}

@media (max-width: #{$breakpoint-small}) {
  .facility-popup {
    .imgcrop {
      width: 200px;
    }
  }
}
