.family-popup {
  .family-name {
    font-size: 1.6em;
    font-weight: bold;
    margin-right: 1em;
  }

  .family-meta {
    font-size: 0.9em;
  }

  .more-info {
    color: #f07057;
    font-weight: 800;
  }

  .imgcrop {
    width: 400px;
    height: 225px;
    object-fit: cover;
    padding-bottom: 0.7em;
  }
}
