.far-popup {
  .far-location-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0;
  }

  &-row {
    margin-bottom: 0.25em;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
