@import "~scss/_variables.scss";

.popup-switch {
  .popup-content {
    font-family: $body-font-family;
    line-height: 1.1em;
    max-width: 400px;
    text-align: left;

    .popup-row {
      margin-bottom: 0.5em;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .close-popup {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 1.2em;
    font-weight: 200;
    text-align: right;
    padding-bottom: 0.5em;
    cursor: pointer;

    &:hover {
      color: $color-ui-gray;
    }
  }
}
