@import "~scss/_variables.scss";

body {
  margin: 0;
  font-family: $body-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
