.layer-picker {
  padding: 1.2rem;
  text-align: left;
  border-radius: 10px;

  ol.layer-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .layer {
    background-color: #466086;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin: 0.5em;

    &.enabled {
      font-weight: bold;
    }
  }

  .layer-name {
    padding: 1em;
    padding-bottom: 0.25em;

    &:last-child {
      padding-bottom: 1em;
    }
  }

  .layer-legend-items {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
    font-weight: normal;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .layer-legend-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0.25em 1em;

    &:first-child {
      padding-top: 1em;
      margin-top: 0.5em;
    }

    &:last-child {
      padding-bottom: 1em;
    }
  }
}
