.layer-picker {
  padding: 1.2rem;
  text-align: left;
  border-radius: 10px;

  ol.layer-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .layer {
    background-color: #466086;
    padding: 1em;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin: 0.5em;

    &.enabled {
      font-weight: bold;
    }
  }

  .layer-legend-item {
    font-weight: normal;
    list-style: none;
    padding: 0.25em 1em 0.25em 1em;
    margin: 0em -1em 0em -1em;
    background-color: white;
    color: black;
  }

  .layer-legend-item:first-child {
    padding-top: 1em;
    margin-top: 0.5em;
  }

  .layer-legend-item:last-child {
    margin-bottom: -1em;
    padding-bottom: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .color-circle {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0;
    padding: 0;
    margin-right: 0.5em;
    border-radius: 50%;
    background-color: #ccc;
  }
}
