$body-font-family: Mulish, sans-serif;
$content-font-family: Karla, sans-serif;

$color-ui-blue: #283851;
$color-ui-orange: #f07057;
$color-ui-gray: #929292;

$nav-height: 3rem;
$infobox-width: 14rem;
$ui-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
