.InsetMap {
  height: 100%;
  width: 100%;

  .mapboxgl-ctrl-logo {
    display: none;
  }

  .mapboxgl-ctrl-attrib {
    display: none;
  }
}

.inset-map-wrapper {
  cursor: pointer;
  height: 100%;
}
