@import "~scss/_variables.scss";

.MainMap {
  height: 100%;
  width: 100%;
  position: relative;

  .mapboxgl-map {
    font-family: $body-font-family;
  }

  .controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1001;
    max-height: 90vh;
    overflow: hidden;

    & > * {
      margin-bottom: 0.5rem;
    }
  }
}
