@import "~scss/_variables.scss";

.facilities-picker {
  input[type="checkbox"] {
    margin-left: 0;
  }

  ol.layer-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .layer-legend-items {
    font-weight: normal;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .layer-legend-item {
    position: relative;

    &-content {
      align-items: center;
      display: flex;
      flex-direction: row;

      .infobox-button {
        align-self: center;
        margin-left: 0.5em;
      }
    }
  }

  .facilities-category-name {
    &-content {
      align-items: center;
      display: flex;
    }

    .infobox-button {
      align-self: center;
      margin-left: 0.5em;
    }
  }
}
