.facilities-category-name {
  &-content {
    align-items: center;
    display: flex;
  }

  label {
    align-items: center;
    display: flex;
  }

  .infobox-button {
    align-self: center;
    margin-left: 0.5em;
  }
}
