@import "~scss/_variables.scss";

.family-legend-rectangle {
  display: inline-block;
  flex-shrink: 0;
  height: $legend-rectangle-height;
  margin: 0;
  padding: 0;
  margin-right: 0.5em;
  background-color: #fff;
  width: $legend-rectangle-width;
}
