@import "~scss/_variables.scss";

$infobox-padding: 0.5rem;
$infobox-pointer-width: 1rem;

.infobox {
  background: white;
  box-shadow: $ui-box-shadow;
  padding: $infobox-padding;
  position: absolute;
  margin-left: -$infobox-width - (2 * $infobox-padding) - $infobox-pointer-width;
  margin-top: -3.75rem;
  width: $infobox-width;
  z-index: 2001;

  &:after {
    content: "";
    background-color: white;
    border-right: 1px solid #eee;
    position: absolute;
    height: $infobox-pointer-width;
    width: $infobox-pointer-width;
    top: $infobox-pointer-width;
    right: -$infobox-pointer-width / 2;
    transform: rotate(45deg);
  }

  &.orient-bottom {
    margin-top: -0.75rem;

    &:after {
      top: unset;
      bottom: $infobox-pointer-width;
    }
  }

  h2 {
    margin-top: 0;
    font-size: 1.1em;
  }

  &-description {
    line-height: 1.25em;
  }

  a {
    color: $color-ui-orange;
    font-weight: bold;
    text-decoration: none;
  }
}
