@import "~scss/_variables.scss";

.infobox-button {
  align-items: center;
  border: 1px solid $color-ui-gray;
  border-radius: 50%;
  color: $color-ui-gray;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-size: 0.75em;
  line-height: 1em;
  height: 1em;
  justify-content: center;
  width: 1em;

  &:hover {
    border-color: darken($color-ui-gray, 30%);
    color: darken($color-ui-gray, 30%);
  }
}
