@import "~scss/_variables.scss";

.layer-picker {
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden;
  width: 20em;

  .layer {
    background-color: #466086;
    color: white;
    cursor: pointer;
    margin: 0.5em;

    &.enabled {
      font-weight: bold;
    }
  }

  .layer-name {
    padding: 1em;
    padding-bottom: 0.25em;

    &:last-child {
      padding-bottom: 1em;
    }
  }

  .labeltext {
    display: block;
  }

  .checkbox {
    vertical-align: middle;
    position: relative;
    bottom: 0.1em;
  }
}
