@import "~scss/_variables.scss";

.layer-picker {
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden;
  width: 22em;

  .layer {
    background-color: #466086;
    color: white;
    cursor: pointer;
    margin: 0.5em;

    &.enabled {
      font-weight: bold;
    }
  }

  .layer-name {
    padding: 1em;
    padding-bottom: 0.25em;

    &:last-child {
      padding-bottom: 1em;
    }
  }

  .subsection-header {
    align-items: center;
    display: flex;
    flex-direction: row;

    label {
      align-items: center;
      display: flex;
    }

    .infobox-button {
      margin-left: 1em;
    }
  }
}
